{
    "env": {
      "commonjs": true,
      "es6": true,
      "node": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
      "ecmaVersion": 2020
    },
    "rules": {
        "accessor-pairs": "off", // enforce getter and setter pairs in objects
        "array-callback-return": "off", // enforce 'return` statements in callbacks of array methods
        "block-scoped-var": "off", // enforce the use of variables within the scope they are defined
        "complexity": "off", // enforce a maximum cyclomatic complexity allowed in a program
        "consistent-return": "off", // require 'return` statements to either always or never specify values
        "curly": "off", // enforce consistent brace style for all control statements
        "default-case": "off", // require 'default` cases in `switch` statements
        "dot-location": "off", // enforce consistent newlines before and after dots
        "dot-notation": "off", // enforce dot notation whenever possible
        "eqeqeq": "off", // require the use of '===` and `!==`
        "guard-for-in": "off", // require 'for-in` loops to include an `if` statement
        "no-alert": "off", // disallow the use of 'alert`, `confirm`, and `prompt`
        "no-caller": "off", // disallow the use of 'arguments.caller` or `arguments.callee`
        "no-case-declarations": "error", // disallow lexical declarations in case clauses (recommended)
        "no-div-regex": "off", // disallow division operators explicitly at the beginning of regular expressions
        "no-else-return": "off", // disallow 'else` blocks after `return` statements in `if` statements
        "no-empty-function": "off", // disallow empty functions
        "no-empty-pattern": "error", // disallow empty destructuring patterns (recommended)
        "no-eq-null": "off", // disallow 'null` comparisons without type-checking operators
        "no-eval": "off", // disallow the use of 'eval()`
        "no-extend-native": "off", // disallow extending native types
        "no-extra-bind": "off", // disallow unnecessary calls to '.bind()`
        "no-extra-label": "off", // disallow unnecessary labels
        "no-fallthrough": "error", // disallow fallthrough of 'case` statements (recommended)
        "no-floating-decimal": "off", // disallow leading or trailing decimal points in numeric literals
        "no-implicit-coercion": "off", // disallow shorthand type conversions
        "no-implicit-globals": "off", // disallow 'var` and named `function` declarations in the global scope
        "no-implied-eval": "off", // disallow the use of 'eval()`-like methods
        "no-invalid-this": "off", // disallow 'this` keywords outside of classes or class-like objects
        "no-iterator": "off", // disallow the use of the '__iterator__` property
        "no-labels": "off", // disallow labeled statements
        "no-lone-blocks": "off", // disallow unnecessary nested blocks
        "no-loop-func": "off", // disallow 'function` declarations and expressions inside loop statements
        "no-magic-numbers": "off", // disallow magic numbers
        "no-multi-spaces": "off", // disallow multiple spaces (fixable)
        "no-multi-str": "off", // disallow multiline strings
        "no-native-reassign": "off", // disallow assignments to native objects or read-only global variables (recommended)
        "no-new": "off", // disallow 'new` operators outside of assignments or comparisons
        "no-new-func": "off", // disallow 'new` operators with the `Function` object
        "no-new-wrappers": "off", // disallow 'new` operators with the `String`, `Number`, and `Boolean` objects
        "no-octal": "error", // disallow octal literals (recommended)
        "no-octal-escape": "off", // disallow octal escape sequences in string literals
        "no-param-reassign": "off", // disallow reassigning 'function` parameters
        "no-proto": "off", // disallow the use of the '__proto__` property
        "no-redeclare": "error", // disallow 'var` redeclaration (recommended)
        "no-return-assign": "off", // disallow assignment operators in 'return` statements
        "no-script-url": "off", // disallow 'javascript:` urls
        "no-self-assign": "error", // disallow assignments where both sides are exactly the same (recommended)
        "no-self-compare": "off", // disallow comparisons where both sides are exactly the same
        "no-sequences": "off", // disallow comma operators
        "no-throw-literal": "off", // disallow throwing literals as exceptions
        "no-unmodified-loop-condition": "off", // disallow unmodified loop conditions
        "no-unused-expressions": "off", // disallow unused expressions
        "no-unused-labels": "error", // disallow unused labels (recommended)
        "no-useless-call": "off", // disallow unnecessary calls to '.call()` and `.apply()`
        "no-useless-concat": "off", // disallow unnecessary concatenation of literals or template literals
        "no-useless-escape": "error", // disallow unnecessary escape characters
        "no-void": "off", // disallow 'void` operators
        "no-warning-comments": "off", // disallow specified warning terms in comments
        "no-with": "off", // disallow 'with` statements
        "radix": "off", // enforce the consistent use of the radix argument when using 'parseInt()`
        "vars-on-top": "off", // require 'var` declarations be placed at the top of their containing scope
        "wrap-iife": "off", // require parentheses around immediate 'function` invocations
        "yoda": "off" // require or disallow "Yoda" conditions
    }
  }